*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main-container{
    margin: 170px auto;
    padding: 30px;
    width: 700px;
    height: 600px;
    background-color: rgb(223, 219, 189);
    border-radius: 20px;
    border: 5px solid black;
    box-shadow: 0px 0px 20px rgb(130, 70, 70);
}
h1{
    text-align: center;
    font-size: 60px;
    color: rgb(75, 32, 65);
}
input{
    width: 83%;
    background-color: #f5f0f0f2;
}
input, #btn{
    font-size: 20px;
    padding: 8px 15px;
    margin: 20px 0px;
    border-radius: 15px;
    outline: none;
    border: 1px solid rgb(157, 151, 151);
}
#resultContainer{
    font-size: 20px;
    margin: 0px 20px;
    text-align: justify;
    line-height: 1.4;
}
@media all and (max-width: 700px){
    .main-container{
        margin: 130px auto;
        padding: 20px;
        width: 500px;
    }
    h1{
        font-size: 50px;
    }
    input{
        width: 80%;
    }
    #btn{
        font-size: 18px;
        width: 80px;
        padding: 9px;
    }
    #resultContainer{
        font-size: 18px;
    }
}
@media all and (max-width: 500px){
    .main-container{
        margin-top: 200px;
        width: 400px;
        height: 450px;
    }
    h1{
        font-size: 40px;
    }
    input{
        width: 75%;
        font-size: 15px;
    }
    #btn{
        font-size: 15px;
        padding: 8px;
    }
    #resultContainer{
        font-size: 15px;
    }
}